.calculator-keypad {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: center;
}

.calculator-keypad button {
  max-width: 63px;
  width: 100%;
  height: 50px;
  font-size: 25px;
  border-radius: 20px;
  margin: 0 auto;
}

.calculator-keypad button:disabled {
  color: #cccccc;
}

.calculator-keypad button sup {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.95rem;
}

.calculator-keypad button#square-root span {
  font-size: 1.35rem;
}
