.calculator-mode {
  color: #ffffff;
  margin-bottom: 10px;
}

.calculator-mode p {
  margin: 0;
}

.calculator-mode span {
  position: relative;
}

.calculator-mode span button {
  position: relative;
  cursor: pointer;
  height: 25px;
  width: 45px;
  border: none;
  background-color: #000000;
}

.calculator-mode span button:after {
  content: "";
  height: 21px;
  width: 20px;
  background: #555555;
  position: absolute;
  top: 2px;
  left: 23px;
  transition: left 0.2s;
}

.calculator-mode.immediate span button:after {
  left: 2px;
}
