@import url('https://fonts.googleapis.com/css?family=Lobster');

.calculator {
  --calculator-background: #222222;

  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--calculator-background);
  border-radius: 20px;
  padding: 20px 0;
}

.calculator p.label {
  font-family: Lobster;
  font-size: 30px;
  color: #ff2222;
}
