@import url('https://fonts.googleapis.com/css?family=VT323');

.calculator-display {
  --display-background: #cccccc;

  width: 90%;
  height: 90px;
  background-color: var(--display-background);
  border-radius: 20px;
  margin: 0 auto 15px;
  font-family: "VT323", monospace;
  text-align: right;
}

.calculator-display .equation {
  margin: 0;
  padding: 5px 20px;
  height: 14px;
  display: flex;
  justify-content: flex-end;
  text-overflow: clip;
  overflow: hidden;
}

.calculator-display .entry {
  margin: 0;
  padding: 0 20px;
  font-size: 40px;
  text-overflow: clip;
  overflow: hidden;
}

.calculator-display .memory {
  margin: 0;
  padding: 0 20px;
  text-align: left;
}
